@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


:root {
    --primary: #f14f00;
    --primary-alt: #ff9100;
    --primary-hover: #d14600;
    --color-on-primary: white;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 100px;
}

* {
    font-family: "Sora", sans-serif;
    padding: 0px;
    margin: 0px;
}

*::selection {
    background-color: #81818135;
}

.header-top {
    min-height: 20px;
    background-color: white;
    box-shadow: 0px 10px white;
    z-index: 1000;
}


header {
    top: 20px;
    width: fit-content;
    margin-top: 20px;
    right: 0; left: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    gap: 50px;
    padding: 0px 100px;
    z-index: 1000;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.055);
}
header ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 15px;
    font-weight: 400;
}

header ul a {
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease;
}
header ul a:hover {
    color: var(--primary);
}

header button {
    border-radius: 100px;
    padding: 15px 30px;
}
header button:hover {
    translate: 0px -3px;
}

h1 {
    font-size: 60px;
}
h1 p {
    font-weight: 300;
    color: #595c5f;
}

.bl1 {
    font-weight: 300;
    font-size: 20px;
    color: #636568;
}


.input-box {
    width: fit-content;
    min-width: 300px;
    border: solid 2px black;
    border-radius: 100px;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

button {
    padding: 20px 30px;
    background-color: var(--primary);
    color: var(--color-on-primary);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-weight: 600;
}
button:hover {
    background-color: var(--primary-hover);
    box-shadow: inset 10px 0px var(--primary-alt);
}

button.round {
    border-radius: 100px;
}

input {
    border-width: 0px;
    border-radius: 100px;
    padding: 10px 20px;
    outline: none;
    font-size: 16px;
}

.center {
    text-align: center;
    align-items: center;
}

.big-title {
    color: var(--primary);
    font-size: 100px;
    font-weight: 500;
}
.title.alt {
    font-size: 16px;
}

.subtitle.alt {
    color: #777e86;
}

.col {
    display: flex;
    flex-flow: column nowrap;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.row.duo {
    justify-content: space-evenly;
}
.row.duo > div {
    width: fit-content;
    padding: 0px;
}

.gap10 {
    gap: 10px;
}

.gap20 {
    gap: 20px;
}

.gap30 {
    gap: 30px;
}

.gap40 {
    gap: 40px;
}

.gap50 {
    gap: 50px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    color: #212529;
    padding-bottom: 2px;
}
.subtitle {
    font-size: 14px;
    font-weight: normal;
    color: #212529;
}

.bold {
    font-weight: bold;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}


.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}


.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.ml50 {
    margin-left: 50px;
}


.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mr50 {
    margin-right: 50px;
}





.heading-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #59595c;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.heading-box > :first-child {
    color: var(--primary);
}

.heading-box > :nth-child(2) {
    font-size: 55px;
}
.heading-box b {
    color: black;
}
.heading-box > :nth-child(3) {
    font-size: 19px;
    max-width: 420px;
    font-weight: 300;
    line-height: 30px;
}


.heading-box.start {
    text-align: start;
}

.heading-box.start > :nth-child(3) {
    max-width: max-content;
}

footer {
    padding: 50px 100px;
    background-color: black;
    color: white;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
}
footer a {
    color: #aaa;
    font-size: 14px;
    text-decoration: none;
    line-height: 25px;
}
footer a:hover {
    color: white;
}

footer a::before {
    content: '⏵';
    position: absolute;
    translate: -10px;
    color: transparent;
    transition: all 0.3s ease;
}
footer a:hover::before {
    translate: -20px;
    color: inherit;
}

footer > .row {
    width: fit-content;
    justify-content: space-between;
    align-items: start;
}


.copyright {
    background-color: #212529;
    color: #8d8f91;
    font-size: 14px;
    padding: 40px 125px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.copyright b {
    font-weight: normal;
    color: white;
}

.copyright ul {
    list-style-type: none;
    font-size: 25px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.copyright a {
    color: #aaa;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 0px;
    text-decoration: underline dotted 5px transparent;
    transition: all 0.2s ease;
}

.copyright a:hover {
    color: #fff;
    text-decoration: underline dotted 5px #aaa;
}

arrow-down::before {
    display: contents;
    content: '🞃';
    font-size: 12px;
}


sidebar {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    padding: 50px 0px;
    max-width: 350px;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    z-index: 1001;

}

sidebar ul {
    list-style-type: none;
}

sidebar a {
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
sidebar a:hover {
    color: var(--primary);
}




.team-member {
    padding: 30px;
    border-radius: 10px;
    transition: all 0.1s ease;
}


.team-member > img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    object-position: 50% 0;
    user-select: none;
    box-sizing: border-box;
    -webkit-user-drag: none;
    transition: all 0.1s ease;
}

.team-member:hover > img {
    padding: 10px;
    border: solid 5px var(--primary);
}




.team-member > p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
    transition: all 0.1s ease;
}

.team-member:hover > p:nth-child(2) {
    color: var(--primary);
}

.partner-logos {
    justify-content: center;
    gap: 25px 75px;
}
.partner-logos > img {
    max-width: 200px;
    height: 100px;
    filter: contrast(1) grayscale(1);
    opacity: 0.5;
    cursor: pointer;
    object-fit: contain;
    box-sizing: border-box;
    padding: 20px;
    transition: all 0.1s ease;
}

.partner-logos > img:hover {
    opacity: 1;
    filter: none;
}







